#main {
    display: flex;
}

#source label, #source textarea, #run label, #run textarea {
    display: block;
}

#hexmap-container {
    width: 600px;
    min-width: 400px;
    max-width: 100%;
    resize: both;
    overflow: auto;
}

#hexmap-container .hexmap {
    width: 100%;
    object-fit: contain;
}

.hexmap .raw-char {
    fill: #033;
    font-size: 20px;
    font-family: monospace;
    text-anchor: middle;
    dominant-baseline: middle;
}

.hexmap .raw-char-bg {
    fill: #fff;
}

.hexmap .raw-char-error {
    fill: #f00;
}

.hexmap .source-mirror {
    stroke: #666;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: #fff;
}

@keyframes raw-char-bg-blink {
    0% { fill: #fdd; }
    49% { fill: #fdd; }
    50% { fill: #fff; }
    100% { fill: #fff; }
}

@keyframes source-mirror-blink {
    0% { stroke: #fcc; }
    49% { stroke: #fcc; }
    50% { stroke: #666; }
    100% { stroke: #666; }
}

.hexmap .char.current .raw-char-bg {
    animation: raw-char-bg-blink 1s infinite;
    fill: #fdd;
}

.hexmap .char.current.source-mirror {
    animation: source-mirror-blink 1s infinite;
    stroke: #fcc;
}

.hexmap .road {
    stroke-linecap: round;
    stroke-width: 5px;
}

.hexmap .road.uncolored {
    stroke: rgba(0, 0, 0, 0.05);
}
